.register-container{
    display:flex;
    height:100vh;
}

.register-left{
    width:50%;
    background:linear-gradient(180deg,#2c9b6f,#1e8a72);
    color:white;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.logo-img{
  width:80px;
  border-radius: 10px;
  border: black 10px;
}

.register-right{
    width:50%;
    padding:60px;
}

.register-right h2{
    font-size:30px;
}

form{
    margin-top:30px;
}

label{
    display:block;
    margin-top:15px;
}

input{
    width:100%;
    padding:12px;
    margin-top:5px;
    border-radius:8px;
    border:1px solid #ccc;
}

button{
    margin-top:20px;
    width:100%;
    padding:12px;
    border:none;
    border-radius:8px;
    background:#2c9b6f;
    color:white;
    font-size:16px;
}

.login-link{
    margin-top:15px;
}

.login-link span{
    color:#2c9b6f;
    cursor:pointer;
}

.message {
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 500;
}

.message.success {
  background-color: #e6f9f0;
  color: #1b7f5a;
  border: 1px solid #b6f2da;
}

.message.error {
  background-color: #ffe6e6;
  color: #b30000;
  border: 1px solid #ffb3b3;
}